// Colors
// ------------------------------------------------------------------
// Base16 - Ocean - http://chriskempson.github.io/base16/#ocean

@base16-gray-dark-ui: #232830;
@base16-gray-darker-ui: #1C1F26;
@base16-gray-light-ui: #727A84;

@base16-00: #2B303B; // Dark Gray
@base16-01: #343D46;
@base16-02: #4F5B66;
@base16-03: #65737E; // Gray Comment Text
@base16-04: #A7ADBA;
@base16-05: #C0C5CE; // Gray
@base16-06: #DFE1E8;
@base16-07: #EFF1F5; // Light Gray White
@base16-08: #BF616A; // Red
@base16-09: #D08770; // Orange
@base16-0A: #EBCB8B; // Yellow
@base16-0B: #A3BE8C; // Light Lime Green
@base16-0C: #96B5B4; // Mintish Teal
@base16-0D: #8FA1B3; // Gray Light Blue Text
@base16-0E: #B48EAD; // Pinkish Purple
@base16-0F: #AB7967;

@syntax-color-renamed: @base16-0D;
@syntax-color-added: @base16-0B;
@syntax-color-modified: @base16-09;
@syntax-color-removed: @base16-08;
